// Name: Zombie Grid
// Author: Matheus Lucca do Carmo / me@matheuslc.com
// Version: 0.0.1
//--------------------------------------------



// Variables
//--------------------------------------------

@import '_zombie-grid';

// Feel free to change that values

// Media Queries
//--------------------------------------------
// Really small devies





// Small Devices

@include zombie-grid(true,0px,768px,"r"){

	.zombie {
		height: 70%;
	}

	.brain {
		@extend %zombie-r-12;
		margin: 0;
	}

	.brain-title {
		text-align: center;
	}

	.brain-subtitle {
		text-align: center;
	}

	.zombie-quality {
		@extend %zombie-r-12;
		margin: 0;
	}

	.quality {
		@extend %zombie-r-8;
		margin: 4% 25%;
	}

	.zombie-download {
		height: 35%;
	}

	.getting-started {
		margin: 6% 2%;
	}
	
	.btn-download {
		@extend %zombie-r-4;
		margin: 7% 3% 0% 3%;
	}

	.btn-example {
		margin: 1% 3%;
	}
}


@include zombie-grid(true,0px,320px,"b") {
	
	.brain-title {
		font-size: 3rem;
		margin: 30% 0 0 0;
	}
	
	.quality {
		margin: 3% 15%;
	}

	.quality-item {
		font-size: 1.2rem;
	}

	.getting-started {
		margin: 10% 0;
		padding: 0 1%;
	}

	.started-item {
		font-size: 0.8rem;
	}
	
	.btn-download {
		@extend %zombie-b-5;
		margin: 15% 2% 0 2%;
		font-size: 1.2rem;
	}

	.btn-example {
		margin: 1% 2%;
	}
}
