// Name: Zombie Grid
// Author: Matheus Lucca do Carmo / me@matheuslc.com
// Version: 0.0.1
//--------------------------------------------

//
// Variables
//--------------------------------------------

$columns: 12;
$width: 100%; // If you want a fixed grid, change to 960px


// Clearfix
// by Nicholas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/
//--------------------------------------------

%clearfix {
  *zoom:1;

  &:before,
  &:after {
      content:"";
      display:table;
  }
  &:after {
      clear:both;
  }
}


//
// GRID
//--------------------------------------------

.zombie-grid { 
  margin: 0;
  @extend %clearfix;
}


// Loop for grid
//--------------------------------------------

@for $i from 0 to $columns {
  // Thanks for Lucas Bebber for that help http://codepen.io/lbebber/
  $j: $columns - $i;
  .zombie-#{$j}{
    float: left;
    @extend %border-box;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
    width: ($width / $columns ) * $j;
  }
}

// Wrapper (for fixed grid)

%wrapper {
	@extend %clearfix;
	display: block;
	width: $width;
	margin: 0 auto;	
}

// border-box placeholder

%boder-box {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
}
