/**
 * Fixed Example using Zombie Grid
 */
/* line 18, ../../css/sass/zombie-grid.scss */
.zombie-grid, .wrapper {
  *zoom: 1;
}
/* line 22, ../../css/sass/zombie-grid.scss */
.zombie-grid:before, .wrapper:before, .zombie-grid:after, .wrapper:after {
  content: "";
  display: table;
}
/* line 26, ../../css/sass/zombie-grid.scss */
.zombie-grid:after, .wrapper:after {
  clear: both;
}

/* line 36, ../../css/sass/zombie-grid.scss */
.zombie-grid {
  margin: 0;
}

/* line 48, ../../css/sass/zombie-grid.scss */
header, footer, div, section {
  float: left;
  width: 100%;
}

/* line 48, ../../css/sass/zombie-grid.scss */
article {
  float: left;
  width: 66.66667%;
}

/* line 48, ../../css/sass/zombie-grid.scss */
aside {
  float: left;
  width: 33.33333%;
}

/* line 57, ../../css/sass/zombie-grid.scss */
.wrapper {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* line 66, ../../css/sass/zombie-grid.scss */
header, footer, div, section, article, aside {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, fixed.scss */
header {
  background-color: red;
}

/* line 27, fixed.scss */
article {
  background-color: blue;
}

/* line 32, fixed.scss */
aside {
  background-color: yellow;
}
