/* line 20, ../../css/sass/_zombie-grid.scss */
body {
  *zoom: 1;
}
/* line 24, ../../css/sass/_zombie-grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 28, ../../css/sass/_zombie-grid.scss */
body:after {
  clear: both;
}

/* line 39, ../../css/sass/_zombie-grid.scss */
body {
  margin: 0;
}

/* line 11, fluid.scss */
body {
  font-size: 62.5%;
}

/* line 54, ../../css/sass/_zombie-grid.scss */
.brain-wrapper, .arm-wrapper, .eye-wrapper {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 54, ../../css/sass/_zombie-grid.scss */
.arm-right {
  float: left;
  width: 66.66667%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 54, ../../css/sass/_zombie-grid.scss */
.arm-left, .eye-right, .eye-mid, .eye-left {
  float: left;
  width: 33.33333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 54, ../../css/sass/_zombie-grid.scss */
.brain {
  float: left;
  width: 8.33333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 26, fluid.scss */
.brain {
  background-color: #2c3e50;
  padding: 2rem 0;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
}

/* line 37, fluid.scss */
.brain, .arm-right, .arm-left, .eye-wrapper, .eye-right, .eye-mid, .eye-left {
  border: 0.1rem solid #fff;
}

/* line 41, fluid.scss */
.arm-wrapper {
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}

/* line 49, fluid.scss */
.arm-right {
  background-color: #8e44ad;
  color: #fff;
  padding: 2rem 0;
}

/* line 58, fluid.scss */
.arm-left {
  padding: 2rem 0;
  background-color: #2980b9;
}

/* line 66, fluid.scss */
.eye-wrapper {
  background-color: #16a085;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}

/* line 75, fluid.scss */
.eye-right {
  padding: 2rem 0;
}

/* line 82, fluid.scss */
.eye-mid {
  padding: 2rem 0;
}

/* line 89, fluid.scss */
.eye-left {
  padding: 2rem 0;
}
