/**
 * Fixed Example using Zombie Grid
 */
.zombie-grid {
  *zoom: 1;
}
.zombie-grid:before, .zombie-grid:after {
  content: "";
  display: table;
}
.zombie-grid:after {
  clear: both;
}

.zombie-grid {
  margin: 0;
}

header {
  float: left;
  width: 100%;
}

article {
  float: left;
  width: 66.66667%;
}

aside {
  float: left;
  width: 33.33333%;
}

header, article, aside {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background-color: red;
}

article {
  background-color: blue;
}

aside {
  background-color: yellow;
}
