/**
 * Fixed Example using Zombie Grid
 */


// Import Zombie Grid

@import '../../css/sass/zombie-grid';


// Set $width 100% (default) to be fluid

$columns: 12;
$width: 100%;


// Style bros

header {
	@extend %zombie-12;
	// set a background color to better view
	background-color: red;
}

article {
	@extend %zombie-8;
	background-color: blue;
}

aside {
	@extend %zombie-4;
	background-color: yellow;
}