@font-face {
    font-family: 'zombie';
    src: url('fonts/zombie-webfont.eot');
    src: url('fonts/zombie-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/zombie-webfont.woff') format('woff'),
         url('fonts/zombie-webfont.ttf') format('truetype'),
         url('fonts/zombie-webfont.svg#zombiea') format('svg');
    font-weight: normal;
    font-style: normal;
}